
documents_dbg/ct1422.pdf
*.pdf
*.cfs
*.fdx
*.fdt
*.fnm
*.nvd
*.nvm
*.liv
*.si
index/_18_Lucene50_0.doc
*.zip
*.cfe
*.pos
*.tip
*.tim
dist/logs/bak/duplicates.txt
dist/hcc_search.jar
dist/dbg_night.txt
dist/config/settings - Kopie.cfg
*.scc
documents_dbg/hcc_search - Kopie.html
index/_1i_Lucene50_0.doc
index/_25_Lucene50_0.doc
index/_g_Lucene50_0.doc
index/_x_Lucene50_0.doc
index/segments_k
*.tif
jars/poi-scratchpad-3.17.jar
index_dbg/segments_2
index/segments_8
index/write.lock
dist/logs/duplicates.txt
dist/logs/FileExcludeList.txt
dist/logs/FileList.txt
dist/logs/IndexFilesApp.txt
index_dbg/segments_2
index_dbg/write.lock
jars/pdfbox-2.0.8.jar
jars/poi-3.17.jar
logs/duplicates.txt
dist/config/directories.cfg
logs/duplicates.txt
jars/tika-eval-1.17.jar
src/hcc_search/._.DS_Store
dist/hcc_search.jar
build/classes/hcc_search/result/searchResultHTML.class
build/classes/hcc_search/HTMLExtractor.class
build/classes/hcc_search/BINExtractor.class
build/classes/hcc_search/ExcelFileWrapper.class
*.class
*.jar
*.scc
logs/duplicates.txt
logs/FileList.txt
logs/IndexFilesApp.txt
logs/reviewResult.txt
nbproject/private/private.xml
index_dbg/segments_2
index_dbg/segments_1
index/segments_a
index_dbg/segments_2
index/_1k_Lucene50_0.doc
index/_1x_Lucene50_0.doc
index/_1v_Lucene50_0.doc
index_dbg/segments_2
index_dbg/segments_2
index/_m_Lucene50_0.doc
idxWeb/write.lock
idxWeb/segments_p
idxWeb/_k_Lucene50_0.doc
index_dbg/segments_2
dist/logs/reviewResult.txt
dist/logs/review/reviewResultPart.txt
dist/logs/review/reviewResult.txt
dist/logs/review/failed.txt
dist/logs/IndexFilesApp.txt
dist/logs/FileList.txt
dist/logs/FileExcludeList.txt
dist/logs/bak/IndexFilesApp.txt
